.left {
  width: 209px;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  position: relative;
  /* background-image: url("../images/backgrounds/bg.png"); */
  background-image: url("../images/backgrounds/side_frame_bg.png");
  /* background-size: 100% auto; */
  background-repeat: no-repeat;
  /* background-position: center -30px; */
  background-size: cover;
  background-position: center;

  z-index: 5;
}
.new_left_top {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -60.8px;
  width: 124px;
  height: 30px;
  background-image: url("../images/backgrounds/side_top_bg.png");
  background-size: cover;
  background-position: center;
}

.left-top,
.left-middle,
.left-bottom {
  width: 190px;
  background-size: contain;
}

.left-top {
  height: 190px;
  background-image: url("../images/backgrounds/left_top.png");
  background-repeat: no-repeat;
}

.left-middle {
  flex-grow: 1;
  background-image: url("../images/backgrounds/left_mid.png");
  background-repeat: repeat-y;
}

.left-bottom {
  height: 190px;
  background-image: url("../images/backgrounds/left_bottom.png");
  background-repeat: no-repeat;
}

.left-creature-grid {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 175px;
  height: calc(100% - 110px);
  top: 52%;
  left: 50%;
  background-image: url("../images/backgrounds/side_inside_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.left-creature-page-selector {
  position: absolute;
  width: 134px;
  height: 25px;
  bottom: -10px;
  left: 50%;
  margin-left: -35%;
}

.left-corner-bar {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0px;
  right: -2px;
}

.left-middle-bar {
  position: absolute;
  width: 32px;
  height: 125px;
  top: 50%;
  right: -20px;
  transform: translate(-50%, -50%);
}
